@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    --color-menu-lateral: rgb(255,255,255);

    --color-texto: rgb(0, 0, 0);
    --color-texto-menu: rgb(134, 136,144);

    --color-boton: rgb(0, 0, 0);
    --color-boton-texto: rgb(255,255,255);

    --color-menu-hover:rgb(238, 238, 238);
    --color-menu-hover-texto: rgb(0, 0, 0);

    --color-scroll: rgb(192, 192, 192);
    --color-boton-hover: rgb(134, 134, 134);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Outfit", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: darkcyan;
}

/*-------------> Menu ---*/

.menu {
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none; /*Se oculta el boton de menu*/
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    padding: 20px 15px;
    background-color: var(--color-menu-lateral);
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease; /* Permite que la trasnsición sea de 0.5 segundos entre abertura y cerrado */
}

.mini-menu-lateral {
    width: 80px;
    
}

.menu-lateral span { /*Estilo de span para todos los span que se coloquen*/
    width: 100px; /*Ancho de los Spans inicialmente*/
    white-space: nowrap; /*Para evitar el salto de linea de los spans*/
    font-size: 18px;
    text-align: left;
    opacity: opacity 1;
    transition: opacity 0.5s ease, width 0.5s ease; /* Permite que la trasnsición sea de 0.5 segundos entre abertura y cerrado */
}

.menu-lateral span.oculto {
    opacity: 0; /*Define la transparencia de un elemento en cuanto al fondo*/
    width: 0; /*reducción de su ancho a 0 para que no ocupe espacio dentrodl componente y quede centrado al cerrar el menu*/
}

/*----------------> Nombre de la Pagina*/

.menu-lateral .nombre-pagina {
    width: 100%;
    height: 45px;
    margin-bottom: 20px; /*Para separarlo del boton*/
    display: flex;
    align-items: center;
}

.menu-lateral .nombre-pagina ion-icon {
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

.menu-lateral .nombre-pagina span {
    margin-left: 5px;
    font-size: 25px;
}

/* ----------> BOTÓN*/
.menu-lateral .boton {
    margin-bottom: 20px; /*Para separar el menú del boton*/
    width: 95%; /*Ancho de 100%*/
    height: 45px; /*Altura*/
    display: flex; /*elemento flexible*/
    align-items: center; /*Alineación de elemetos al centro*/
    justify-content: left; /*Alineación de elemento al centro desde todos los lados*/
    border: none; /*Sin border*/
    border-radius: 10px; /*Redondeo de Puntas*/
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}

.menu-lateral .boton ion-icon { /*Circulo con + adentro (Icono)*/
    min-width: 50px; /*Ancho para que quede centrado al momento de minimizar*/
    font-size: 25px; /*Tamaño del icono*/
    
}

/*--------------> Menú de Navegación ---------------*/

.menu-lateral .navegacion {
    height: 100%; /*Ocupara toda la altura disponible*/
    overflow-y: auto;
    overflow-x: hidden;
}

.menu-lateral .navegacion::-webkit-scrollbar { /*Scroll de el menu lateral*/
    width: 5px; /*Ancho del Scrollbar*/
}

.menu-lateral .navegacion::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll);
    border-radius: 5px;
}

.menu-lateral .navegacion::-webkit-scrollbar-thumb:hover { /*Pseudoclase hover para que cuando se posicione sobre el scroll, este cambie de color*/
    background-color: var(--color-boton-hover);
}

.menu-lateral .navegacion li {
    list-style: none; /*Se quita el estilo de las Listas*/
    display: flex; 
    margin-bottom: 5px; /*Separación entre opciones*/
}

.menu-lateral .navegacion a {
    width: 100%; /*ancho*/
    height: 45px; /*Altura*/
    display: flex;
    align-items: center; /*centrar los elementos internos verticalmente*/
    text-decoration: none; /*quita decoración por defecto*/
    border-radius: 10px;
    background-color: var(--color-menu-lateral);
    color: var(--color-texto-menu);
}
.menu-lateral .navegacion a:hover { /*Establesco efecto al pasar por los elementos del manu*/
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.menu-lateral .navegacion ion-icon {
    min-width: 50px; /*Ancho minimo de los iconos para que queden centrados al minimizar el menu laterl*/
    font-size: 20px; 
}

/*----------------------------> Responsive ----*/
/*Si la altura es menor a 660px el boton y el titulo se juntan*/
@media (max-height: 660px) {
    .menu-lateral .nombre-pagina {
        margin-bottom: 5px;
        }

    .menu-lateral .boton span {
        font-size: 20px;
    }
}
 /*Si el ancho es menor a 600px el menu lateral se esconde y aparece el boton de menú*/
@media (max-width: 600px){
    .menu-lateral{
        position: absolute;
        left: -250px;
    }
    .max-menu-lateral {
        left: 0; /* Se presiona el boton de menú y se vuelve a mostrar el menú lateral*/
    }
    .menu {
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
}

/*----------------------------> VIDEO DE FONDO RESPONSIVE ------------------------------*/
@media (max-height: 660pc){
    #video-background{
        margin-bottom: 5px;
    }   
}
@media (max-width:600px){
    #video-background{
        position: absolute;
        left: -250px;
    }
}

/*----------------------------> VIDEO DE FONDO ------------------------------*/

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 0;
    height: auto;
    z-index: -1;
    background-size: cover;
}
/* #content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
    font-size: 24px;
} */
